* {
    margin: 5px;
    padding: 5px;
}

.continor {
    background-color: blanchedalmond;
    height: 60px;
    width: 60px;
}

.contain {
    background-color: aqua;
    height: 40px;
    width: 40px;
}